/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

:root {
  --color-red: #ff221f;
  --color-peach: #fe5f5f;
  --color-pink: #fceaee;
  --color-blue: #001dff;
  --color-white: #fcf9f9;
  /* you could add an accent color for CTAs and anchor tags ;-) */
}

/* Fonts */
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  color: var(--color-red);
  font-family: "Noto Serif Display", serif;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 1.953rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-family: "Poppins", sans-serif;
}

p {
  color: var(--color-red);
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--color-red);
}

a:hover {
  text-decoration: underline;
}

/* UI Elements */
button {
  display: inline-block;
  height: 3rem;
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.dark_button {
  background-color: var(--color-blue);
}

input[type="text"] {
  box-sizing: border-box;
  width: 250px;
  height: 3rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-align: left;
  background-color: var(--color-pink);
  border-color: var(--color-white);
  color: var(--color-white);
}

/* Menu */
nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-pink);
}

nav a {
  color: var(--color-red);
  text-decoration: none;
}

nav a.logo {
  font-family: "Noto Serif Display", serif;
  font-size: 1.25rem;
}

nav li {
  display: inline-block;
  margin: 0px 1rem;
}

/* Header */
header {
  display: flex;
  min-height: 80vh;
  padding: 5rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-pink);
}

header h1 {
  color: var(--color-red);
}

header p {
  color: var(--color-red);
}

header button {
  margin-bottom: 5rem;
}

.header_text {
  width: 30vw;
  min-width: 300px;
}

.header_graphics {
  width: 30vw;
  height: 30vw;
  min-width: 300px;
  min-height: 300px;
  border-radius: 300px;
  background-color: var(--color-peach);
}

/* product section */
#product {
  padding: 2rem;
  background-color: var(--color-pink);
}

#product h3 {
  font-size: 1.953rem;
  line-height: 2.5rem;
}

#product article {
  display: flex;
  min-height: 50vh;
  padding: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.product_text {
  width: 50vw;
  min-width: 300px;
}

.product_graphics {
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  margin: 3rem;
  background-color: var(--color-peach);
  border-radius: 300px;
}

/* highlight sections */
.highlight {
  display: flex;
  min-height: 70vh;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
}

.highlight div {
  width: 80vw;
}

.highlight div h2 {
  font-size: 3.052rem;
  line-height: 4rem;
}

.dark {
  background-color: var(--color-peach);
}

.dark h2 {
  color: var(--color-white);
}

.dark a {
  color: var(--color-white);
}

/* request section */
#request {
  display: flex;
  min-height: 50vh;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-pink);
}

#request div {
  width: 50vw;
  min-width: 450px;
}

/* Footer */
footer {
  display: flex;
  padding: 5vh 2rem;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-blue);
  color: var(--color-white);
}

footer h2,
footer h3 {
  color: var(--color-white);
}

footer a {
  color: var(--color-white);
}

footer section.left {
  display: flex;
  max-width: 50vw;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer section div {
  margin: 0px 1rem 1rem 1rem;
}
